<div class="chat-window">
    <div class="chat-window-header">
        <div class="chat-window-header-title">
            <h5>Chat</h5>
        </div>
        <div class="chat-window-header-icon">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="chat-window-body">
            {messages.map(message => (
            <p className={`chat__message ${message.name===user.username && 'chat__receiver' }`}>
                <span className="chat__name">{message.name}</span>
                {message.message}
                <span className="chat__timestamp">
                    {message.timestamp}
                </span>
            </p>
            ))}
    </div>
    <form action="chat/messages/send" method="POST">
        <input type="text" name="message" placeholder="Type a message" />
        <button type="submit">Send</button>
    </form>
</div>