<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
    
    
<main>
    <h1><center>Welcome to ThreadBlend, <%= Username %>!!</center><!--Header--></h1>
    <p> <center><% if (error) { %>
            <% if (error == "Data added successfully") { %>
                <FONT COLOR="#008000"> Data added successfully</FONT>
            <% } else if (error == "Username not found") { %>
                <FONT COLOR="#ff0000"></FONT>Username not found</FONT>
            <% } else if (error == "Failure to add data") { %>
                <FONT COLOR="#ff0000">Failure to add data</FONT>
            <% } %>
      <% } %>
    </center></p>
    <div class="d-flex justify-content-center"><!-- button to pull up modal-->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pop-up">Connect Chats</button>
    </div>

    <div class="modal fade" id="pop-up" aria-hidden="true" aria-labelledby="pu-title"><!--pu for popup -->
        <div class="modal-dialog">
            <div class="modal-content">
                <h5 class="pu-title" id="pu-title"><center>Connect Chats</center></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                <div class="modal-body">
                    <form id="api_form" action="/home" method="POST">
                        <select class="form-control" id="connected_app" required>
                            <option value="slack" default>Slack</option>
                            <option value="telegram">Telegram</option>
                            <option value="Discord">Discord</option>
                        </select>
                        <div class="col-md-4">
                            <label for="API_key" class="form-label">API Key</label>
                            <input type="text" class="form-control" placeholder="Enter Key" name="API_key" id="API_key" required>
                        </div>
                        <div class="col-md-4">
                            <label for="signing_key" class="form-label">Signing Key</label>
                            <input type="text" class="form-control" placeholder="Enter Key" name="s_key" id="s_key" required>
                        </div>
                    </form>
                    <div class="modal-footer">
                    <button onclick="form_submit()" class="btn btn-primary mt-3">Submit</button>
                    <script type="text/javascript">
                        function form_submit() {
                          document.getElementById("api_form").submit();
                         }    
                        </script>
                </div>
                </div>
            </div>
        </div>
    </div>
              <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div id="projects">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div id="carousel-item-1">
          <div class="carousel-item active">
            <img src="https://www.springboard.com/blog/wp-content/uploads/2022/03/what-is-a-coding-project.png"
              class="d-block mx-auto height: 50%" alt="cartoon guy sitting at computer">
            <div class="carousel-caption d-none d-md-block">
              <div id="carousel-bottom-indicators">
                <h2 id="carousel-bottom-indicators">ThreadBlend's Goal:</h2>
                <p>For those who communicate through several different chat platforms who want to be able to access all 
                    their conversation from one place. ThreadBlend is a unified messaging app that. 
                    Our product provides additional functionality by interfacing with prodictivity tools as well - all from the same app.
                    By connceting an API key for telegram and discord, you can access those chats in one place, on our website</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- Slide 2 -->
          <div id="carousel-item-1">
            <img src="https://www.springboard.com/blog/wp-content/uploads/2022/03/promoting-your-coding-projects.png"
              class="d-block mx-auto height: 50%" alt="cartoon woman sitting at computer">
            <div class="carousel-caption d-none d-md-block">
              <div id="carousel-bottom-indicators">
                <h2 id="carousel-bottom-indicators">Meet the Devs</h2>
                <p>This app was made by Aaron Semones, Adam Wuth, Jake Mckight, and Henry. We are students at CU boulder, and we made this site for our software development class.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- Slide 3 -->
          <div id="carousel-item-1">
            <img src="https://www.springboard.com/blog/wp-content/uploads/2022/03/p2p-file-sharing-app.png"
              class="d-block mx-auto height: 50%" alt="two computers passing files">
            <div class="carousel-caption d-none d-md-block">
              <div id="carousel-bottom-indicators">
                <h2 id="carousel-bottom-indicators">Thank you!</h2>
                <p>We spent a lot of time working on this app, we appreciate you taking the time to check it out</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"
        id="carousel-prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"
        id="carousel-next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>