<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<!-- <main>
  <div class="container">
    <form action="/login" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
      
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
      
        <input type="submit" value="Login" />
      </form>
  </div>
</main> -->
<main>
<div class="card text-white bg-secondary m-5" style="min-height: 20rem;">
    <div class="card-header">
        <h2>ThreadBlend Log-in</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="card-title">Please enter email & password</h5>
                <!-- form -->
                <form action="/login" method="POST"><!-- add action and class here when api's ready| I think changes have been made-->
                    <div class="form-group-sm">
                        <label for="email">Email address: </label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password"
                            placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Log-in</button>
                </form>
            </div>
            <div class="col-sm-auto">
                <div class="card-body">
                    <!-- secondary card -->
                    <div class="card text-dark bg-light" style="max-width: 18rem;">
                        <div class="card-header">Not a member yet?</div>
                        <div class="card-body">
                            <h5 class="card-title">Sign-up Today!</h5>
                            <p class="card-text"><a href="sign-up.html" class="link-primary">Click here to sign-up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>>
<%- include ('../partials/footer') %>