<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h2><center>You have logged out</center></h2>
  </main>

<%- include ('../partials/footer') %>